.page {
    cursor: pointer;
    font-size: 16px;
    padding: 1px 2px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 3px;
}

.selectedPage {
    font-weight: bold;
    color: orange;
    border: 3px solid orange;
    font-size: 16px;

}

.paginator {
    margin-bottom: 20px;
    margin-top: 3px;
}

.btn {
    margin-right: 3px;
}
