.header {
    grid-area: h;
    background-color: #2F4454;
    padding-left: 8px;
    padding-top: 8px;
    border-radius: 10px;
  }
  
  .header img {
    width: 100px;
    
  }

  .loginBlock {
    float: right;
    color: #fff;
    padding: 10px;
    font-size: 20px;
  }