.descriptionBlock {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.descriptionBlock img {
    margin-right: 15px;
}

.avatarWrapper {
    margin: 0 auto
}

.input__wrapper {
    position: relative;
    width: 300px;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file_icon_wrapper {
    margin-left: 15px;
    border-right: 1px solid #fff;
}

.input__file_button_text {
    line-height: 1;
    margin-top: 1px;
}

.input__file_button {
    height: 50px;
    background: #2F4454;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius:10px;
    cursor: pointer;

}

.input__file_button_text {
    margin: 0 auto;
}

.contact {
    padding-left: 10px;
}