.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: #5c6b6d;
    border-radius: 10px;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    padding: 10px;
    color: #fff;
    
}